/* Back settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Others */
h4 {
  color: blue;
}

.icon {
  font-size: 36px;
  margin: 10px 30px;
}

/* Variables (I have no idea 'bout the name of the code inside :root. Therefore, I'll just stick with "Variables") */
:root {
  --border-style: 10px solid blue;
  --secondary-border-style: 2px solid #000;
}

/* The section */
#project-chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* General customizations for smaller parts of the section */
#project-chart .chart {
  background-color: rgba(135, 227, 235, 0.343);
  padding: 15px;
}

#project-chart .goals,
#project-chart .team {
  border-right: var(--border-style);
  border-bottom: var(--border-style);
}

#project-chart .scopes,
#project-chart .primary {
  border-right: var(--border-style);
}

/* Setting sizes for charts */
#project-chart .goals,
#project-chart .scopes {
  grid-column: 1 / 4;
}

#project-chart .timeline {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
}

/* Headers */
#project-chart .headers {
  padding: 10px 0;
  border-bottom: var(--secondary-border-style);
}

/* Body */
#project-chart .scopes .body,
#project-chart .primary .body div {
  display: flex;
}

#project-chart .scopes .ins {
  margin-right: 30px;
}

#project-chart .scopes .outs {
  margin-left: 30px;
}

#project-chart .body .team-member {
  display: flex;
  margin: 10px 0;
}

/* Tables */
#project-chart .body tr {
  display: flex;
  margin: 10px 0;
  border-bottom: var(--secondary-border-style);
}
